.login-button {
  background-color: rgb(166, 107, 221);
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover {
  background-color: rgb(199, 182, 214);
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: rgb(153, 71, 230);
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #fff;
}
